@charset "UTF-8";
body {
	background-color: ;
}
.main {
	width: 79%;
	float: right;
}
.submitForm {
	width: 90%;
	margin: 0 auto;
}
.submitForm form,
.submitForm form table,
.submitForm form table tr {
	width: 100%;
}
h1 {
	margin-left: 5%;
}
.right {
	text-align: right;
	margin-right: 5%;
}
.text input,
.text textarea {
	width: 80%;
}
/*
table {
	width: 90%;
	margin: 0 auto;
	align: center;
	border-collapse: collapse;
	border: solid 2px #dbebf8;
}
table th, td {
	border: dashed 1px #dbebf8;
}
table td {
	padding-left: 5px;
}
table thead td {
	background: #dbebf8;
}
*/